{% extends 'base.html' %}
{% block title %}Chat {% endblock title  %}
{% block body %}
<div class="container d-flex justify-content-around flex-column justify-content-between" style="height:100vh">
    <h1 class="text-center text-success">Chat App</h1>
    <div class="chat flex-column" style="overflow-y:scroll;height: 70%;">
        <div class="messages d-flex flex-column">
            <h5 class="username">username</h5>
            <h6 class="message-chat">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, nisi, odio laudantium totam natus rerum sequi veritatis itaque, unde quis quos maiores inventore ipsum omnis veniam similique odit neque porro!</h6>
        </div>
    </div>
    <input type="text" placeholder="Enter the message" id="message" class="form-control">
    <button class="btn btn-outline-success">Send</button>
</div>
{% endblock body %}
{% block script  %}
    <script>
        let con = false;
        const ws = new WebSocket('ws://localhost:8000/ws/chat/ ');
        ws.addEventListener('open',() =>{
            console.log("open connection");
            con = true;
            ws.send(JSON.stringify({
                'command': 'join',
                'groupname' : 'publicchat'
            }))
        })
        const button = document.querySelector("button");
        button.addEventListener("click",()=>{
            if (con){
               const message = document.getElementById("message").value;
               ws.send(JSON.stringify({
                   'command' : 'send',
                   'message' : message
               }))
               console.log(message);
            }
            else{
                console.log("Not");
            }
               
        })
        ws.onmessage = (e) => {
            const data = JSON.parse(e.data)
            if(data.warning){
                const h2w = document.getElementById('warning')
                h2w.innerHTML - "please log in to chat"
            }
            else if(data.message){
                const message = `
                       <div class="messages d-flex flex-column">
                        <h5 class="username text-primary">${data.user}</h5>
                        <h6 class="message-chat text-success">${data.message}</h6>
                        </div>
                `
                const chat = document.getElementsByClassName("chat")[0];
                chat.innerHTML += message;
            }
        }

    </script>

{% endblock script  %}